<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.Szoba"
            android:label="@string/title_activity_szoba" >
        </activity>
        <activity
            android:name="com.example.Tulajdonsagok"
            android:label="@string/title_activity_tulajdonsagok" >
        </activity>
        <activity
            android:name="com.example.Nappali"
            android:label="@string/title_activity_nappali" >
        </activity>
        <activity
            android:name="com.example.Furdoszoba"
            android:label="@string/title_activity_furdoszoba" >
        </activity>
        <activity
            android:name="com.example.Eloszoba"
            android:label="@string/title_activity_eloszoba" >
        </activity>
        <activity
            android:name="com.example.Gyerekszoba"
            android:label="@string/title_activity_gyerekszoba" >
        </activity>
        <activity
            android:name="com.example.Konyha"
            android:label="@string/title_activity_konyha" >
        </activity>
        <activity
            android:name="com.example.Haloszoba"
            android:label="@string/title_activity_haloszoba" >
        </activity>
        <activity
            android:name="com.example.Futes"
            android:label="@string/title_activity_futes" >
        </activity>
        <activity
            android:name="com.example.Vilagitas"
            android:label="@string/title_activity_vilagitas" >
        </activity>
        <activity
            android:name="com.example.Futes2"
            android:label="@string/title_activity_futes2" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
